version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: spring-app
    ports:
      - "8081:8081"
    environment:
      MONGO_URI: mongodb://mongo:27017/chatbot
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      mongo:
        condition: service_healthy

volumes:
  mongo-data:
